*{margin: 0; padding: 0;}

.flex {
    display: flex;
}

.row {
    flex-flow: row;
}

.col {
    flex-flow: column;
}

body {
    margin: 0 15vw;
    width: 70vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: auto;
    min-height: 90vh;
    background-color: black;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 2%;
}

/* NAVBAR */
ul {
    height: 5vh;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.part1 {
    width: 100%;
    height: 40%;
    margin-top: 3%;
}

.part1-part1 {
    width: 100%;
    height: 80%;
    margin-top: 3%;
}

.box1 {
    width: 40%;
    height: 300px;
    background-color: white;
    opacity: 0;
    border-radius: 10px;
    animation: box1A 3s forwards;
    transition: width 1s, height 1s, margin-right 1s, margin-left 1s;
}

.box1:hover {
    width: 45%;
    margin-right: -8%;
    margin-left: 3%;
}

.box2 {
    margin-left: 16%;
    width: 40%;
    height: 300px;
    background-color: white;
    opacity: 0;
    border-radius: 10px;
    animation: box2A 3s 1s forwards;
    transition: width 1s, margin-left 1s;
}

.box2:hover {
    width: 45%;
    margin-left: 8%;
}


.part2 {
    width: 100%;
    height: 40%;
    margin-top: 5%;
}

.box3 {
    justify-content: start;
    width: 40%;
    height: 300px;
    background-color: white;
    opacity: 0;
    border-radius: 10px;
    animation: box3A 3s 2s forwards;
    transition: width 1s, height 1s, margin-right 1s, margin-left 1s;
}
.box3:hover {
    width: 45%;
    margin-right: -8%;
    margin-left: 3%;
}
.box4 {
    margin-left: 16%;
    width: 40%;
    height: 300px;
    background-color: white;
    opacity: 0;
    border-radius: 10px;
    animation: box4A 3s 3s forwards;
    transition: width 1s, height 1s, margin-left 1s;
}

.box4:hover {
    width: 45%;
    margin-left: 8%;
}

.box5 {
    width: 40%;
    height: 300px;
    min-height: auto;
    background-color: white;
    border-radius: 10px;
}

.box6 {
    margin-left: 16%;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.box7 {
    margin: 2rem auto;
    width: 80%;
    height: 250px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    animation: box1A 1s 3;
}

.box7:hover {
    width: 45%;
    margin-left: 8%;
}

.box8 {
    margin: 2rem auto;
    width: 80%;
    height: 250px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    animation: box2A 1s 3;
}
.box8:hover {
    transform: rotate(180deg);
}

.box9 {
    margin: 2rem auto;
    width: 80%;
    height: 250px;
    background-color: white;
}

.box10 {
    margin: 2rem auto;
    width: 80%;
    height: 250px;
    background-color: white;
}

.box11 {
    margin: 2rem auto;
    width: 80%;
    height: 250px;
}

.box12 {
    margin: 2rem auto;
    width: 80%;
    height: 250px;
}

.box13 {
    margin: 2rem auto;
    width: 200px;
    height: 100px;
    background-color: white;
}

@keyframes box1A {
    from {opacity: 0; transform: rotateX(90deg);}
    to {opacity: 1; transform: rotate(360deg);}
}
@keyframes box2A {
    from {opacity: 0; transform: rotateY(90deg);}
    to {opacity: 1; transform: rotate(-360deg);}
}
@keyframes box3A {
    from {opacity: 0; transform: rotate(180deg);}
    to {opacity: 1; transform: rotate(360deg);}
}
@keyframes box4A {
    from {opacity: 0; transform: rotate(-180deg);}
    to {opacity: 1; transform: rotate(-360deg);}
}